<!DOCTYPE html>

<html>

<head>
    <title>weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>use this site to get your weather!</p>

        <form>
            <input type="text" placeholder="location">
            <button>Search</button>
        </form>
        <P id="message1"></P>
        <P id="message2"></P>
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>